#searchInput {
  background-color: rgba(68, 68, 68, 0.637);
  color: whitesmoke;
  text-shadow: 50px rgb(24, 24, 24) !important;
}

#container1 {
  min-height: 10vh;
  min-width: 50%;
  white-space: nowrap;
}

::placeholder {
  color: whitesmoke !important;
}

#todo-col {
  background-color: rgba(68, 68, 68, 0.753);
  color: whitesmoke;
  text-shadow: 50px rgb(24, 24, 24) !important;
}

body {
  background-size: cover;
  /* background-repeat: no-repeat;
     background-position: center; */
}

#quote {
  color: whitesmoke;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.contrast-text {
  color: whitesmoke;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-size: 3rem;
}
.gen-text {
  color: whitesmoke;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-size: 1rem;
}

#weather span {
  z-index: 1;
  color: whitesmoke;
  font-size: 2rem;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

/* #clock i{
  color: whitesmoke;
  font-size: 15rem;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
} */

.searchInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fixed-bottom {
    position: static !important;
  }
}