#searchInput{
  background-color: rgba(68, 68, 68, 0.637);
  color: whitesmoke;
  text-shadow: 50px rgb(24, 24, 24) !important;
}

#container1 {
    min-height: 10vh;
    min-width: 50%;
    white-space: nowrap;
  }
::placeholder{
  color: whitesmoke !important;
}

#todo-col{
  background-color: rgba(68, 68, 68, 0.637);
  color: whitesmoke;
  text-shadow: 50px rgb(24, 24, 24) !important;
}
body{
  background-size: cover;
  /* background-repeat: no-repeat;
     background-position: center; */
}

#quote{
  color: whitesmoke;
}